body {
  background-color: #0e0e0e;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-family: 'Monoton', sans-serif;
  font-size: 4em;
}

.ACE {
  color: #0039A6
}

.BDFM {
  color: #FF6319
}

.G {
  color: #6CBE45
}

.JZ {
  color: #996633
}

.L {
  color: #A7A9AC
}

.NQR {
  color: #FCCC0A
}

._123 {
  color: #EE352E
}

._456 {
  color: #00933C
}

._7 {
  color: #B933AD
}

hr {
  visibility: hidden
}

#date-time {
  color: white;
  float: right;
  margin-top: -3em;
}

#learn-more {
  top: 0;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20em;
  border: 3px dotted white;
  font-size: 1.25em;
}

#map {
  position:relative;
  width:100%;
  height: 100%;
}

.marker {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  cursor: pointer;
}

/* a couple classes for them that makes them bigger then remove class on transition end or something so that it's a little smoother and goes down */
/* add transitions for the markers!! then */
