<html>
    <head>
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" defer></script>
      <script src="{{ url_for('static',filename='main.js') }}" defer/></script>
      <title>Turn Style</title>
    </head>
    <body>
        <div>Created by: <a href="https://github.com/erinkshaw">Erin S.</a></div>
        <div><a href="/info">Learn more:</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
