<html>
    <head>
      <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
      <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}" />
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
      <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
      <script src="{{ url_for('static',filename='js/main.js') }}" defer/></script>
      <title>Turn Style</title>
    </head>
    <body>
        <div class="flex">
            <div id="logo">
                <span class="_123">T</span>
                <span class="BDFM">U</span>
                <span class="NQR">R</span>
                <span class="G">N</span>
                <span class="_456">S</span>
                <span class="ACE">T</span>
                <span class="_7">Y</span>
                <span class="L">L</span>
                <span class="JZ">E</span>
            </div>
            <a href="http://www.github.com/erinkshaw/turn-style"
                rel="noopener noreferrer" target="_blank">
                <div id="learn-more">
                    i
                </div>
            </a>
        </div>
        <hr>
        <div id="container">
            <div id="map"></div>
        </div>
    </body>
</html>

