<html>
    <head>
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" defer></script>
      <script src="{{ url_for('static',filename='js/main.js') }}" defer/></script>
      <title>Turn Style</title>
    </head>
    <body>
        <div class="flex">
            <div id="logo">
                <span class="_123">T</span>
                <span class="BDFM">U</span>
                <span class="NQR">R</span>
                <span class="G">N</span>
                <span class="_456">S</span>
                <span class="ACE">T</span>
                <span class="_7">Y</span>
                <span class="L">L</span>
                <span class="JZ">E</span>
            </div>
            <div id="learn-more">
                <a href="http://www.github.com/erinkshaw/turn-style">
                    Learn more
                </a>
            </div>
        </div>
        <hr>
        <div>sad face</div>
    </body>
</html>

